/* global style */
body {
    font-family: 'Open Sans', sans-serif;
}

/* color palette */
.light-blue {
    background-color: #b3e6ff;
}

.paper {
    background-color: #f4f4f4;
}

.paper-bag {
    background-color: #a58963;
}

.silk {
    background-color: #DCD0C0;
}

.newsprint {
    background-color: #bbbcb3;
}

.charcoal {
    background-color: #373737;
    color: white;
}

.muddy-red {
    background-color: #89554e;
}

.light-mud {
    background-color: #dac1be;
}

/*************************************************************************************************
*  headings section
**************************************************************************************************/
h1,h2,h3 {
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    color: #373737;
    text-shadow: 2px 2px 10px #89554e;
}

.gab {
    font-size: 1.25em;
}

h1 {
    font-size: 3.815em;
}

h2 {
    font-size: 3.052em;
}

h3 {
    font-size: 2.441em;
}

/*************************************************************************************************
*  alignment
**************************************************************************************************/
.center-text {
    text-align: center;
}

/* float-right elements */
.float-right {
    float: right;
}

/* float-left elements */
.float-left {
    float: left;
}

/*************************************************************************************************
*  Links 
**************************************************************************************************/
a {
    text-decoration: none;
}

a:link {
    color: #DCD0C0;
}

a:visited {
    color: #DCD0C0;
}

a:hover {
    color: green;
}

/*************************************************************************************************
*  footer section
**************************************************************************************************/
footer {
    text-align: center;
    margin-top: 20px;    
}